{
  "root": true,
  "overrides": [
    {
      "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:import/recommended",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ],
      "files": [
        "src/**/*.ts",
        "test/**/*.ts"
      ],
      "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./"
      },
      "rules": {
        "object-curly-spacing": [
          "error",
          "always"
        ],
        "semi": ["error", "always"],
        "no-void": "off",
        "no-implicit-coercion": "off",
        "no-await-in-loop": "off",
        "node/no-unsupported-features/es-syntax": "off"
      }
    }
  ]
}
